<h1><%= @user1.name %> (green) vs. <%= @user2.name %> (blue)</h1>
<input type="hidden" class="info" data-info="{:user_1_id => <%= @user1.id %>, :user_2_id => <%= @user2.id %>}">
<div class="outer_lane_line">
	<div class="inner_lane_line">
		<h1 class="winner_text"></h1>
	</div>
	<div class="player_1"></div>
	<div class="player_2"></div>
	<div class="finish_line"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
function check_for_winner(x,y,num){
		var x = x.replace(/px/,'')
		var y = y.replace(/px/,'')
		if (y < track_girth && x < 320 && x > 290){
			if ($('.player_'+num).hasClass('player_token')){
				$('.winner_text').text('Player '+ num + ' is the Winner!')
				$.post('/winner',{	winner: num, 
														users: $('.info').data('info')
													}, function(data){
														alert(data)
													}
				)
			}
		}
	}
})
</script>